openapi: 3.1.0
info:
  title: wc/v3
  summary: Generated OpenAPI document of the namespace wc/v3 on Software-Creation.
  version: '1'
jsonSchemaDialect: http://json-schema.org/draft-04/schema#
servers:
  - url: https://www.software-creation.nl/wp-json/wc/v3
paths:
  /:
    get:
      parameters:
        - name: namespace
          in: query
          description: ''
          required: false
          schema:
            type: string
        - name: context
          in: query
          description: ''
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/accounts:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/deposits:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/deposits/summary:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/deposits/overview:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/deposits/{deposit_id}:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/deposits/overview-all:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/transactions:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/transactions/summary:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/transactions/search:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/transactions/{transaction_id}:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/disputes:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/disputes/{dispute_id}:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/file:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/disputes/{dispute_id}/close:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/charges/{charge_id}:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/connection_tokens:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/orders/{order_id}/capture_terminal_payment:
    post:
      parameters:
        - name: payment_intent_id
          in: query
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/orders/{order_id}/create_customer:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/timeline/{intention_id}:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/webhook:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/tos:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/tos/reactivate:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/tos/stripe_track_connected:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/terminal/locations/store:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/terminal/locations/{location_id}:
    delete:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    post:
      parameters:
        - name: display_name
          in: query
          description: ''
          required: false
          schema:
            type: string
        - name: address
          in: query
          description: ''
          required: false
          schema:
            type: object
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/terminal/locations:
    post:
      parameters:
        - name: display_name
          in: query
          description: ''
          required: true
          schema:
            type: string
        - name: address
          in: query
          description: ''
          required: true
          schema:
            type: object
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/fraud/forter_token:
    post:
      parameters:
        - name: token
          in: query
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/settings:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    post:
      parameters:
        - name: is_wcpay_enabled
          in: query
          description: If WooCommerce Payments should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments should be enabled.
        - name: enabled_payment_method_ids
          in: query
          description: Payment method IDs that should be enabled. Other methods will be disabled.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - card
            description: Payment method IDs that should be enabled. Other methods will be disabled.
        - name: is_manual_capture_enabled
          in: query
          description: If WooCommerce Payments manual capture of charges should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments manual capture of charges should be enabled.
        - name: is_saved_cards_enabled
          in: query
          description: If WooCommerce Payments "Saved cards" should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments "Saved cards" should be enabled.
        - name: is_test_mode_enabled
          in: query
          description: WooCommerce Payments test mode setting.
          required: false
          schema:
            type: boolean
            description: WooCommerce Payments test mode setting.
        - name: is_multi_currency_enabled
          in: query
          description: WooCommerce Payments Multi-Currency feature flag setting.
          required: false
          schema:
            type: boolean
            description: WooCommerce Payments Multi-Currency feature flag setting.
        - name: is_wcpay_subscription_enabled
          in: query
          description: WooCommerce Payments Subscriptions feature flag setting.
          required: false
          schema:
            type: boolean
            description: WooCommerce Payments Subscriptions feature flag setting.
        - name: account_statement_descriptor
          in: query
          description: WooCommerce Payments bank account descriptor to be displayed in customers' bank accounts.
          required: false
          schema:
            type: string
            description: WooCommerce Payments bank account descriptor to be displayed in customers' bank accounts.
        - name: is_payment_request_enabled
          in: query
          description: If WooCommerce Payments express checkouts should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments express checkouts should be enabled.
        - name: payment_request_enabled_locations
          in: query
          description: Express checkout locations that should be enabled.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - product
                - cart
                - checkout
            description: Express checkout locations that should be enabled.
        - name: payment_request_button_type
          in: query
          description: 1-click checkout button types.
          required: false
          schema:
            type: string
            description: 1-click checkout button types.
        - name: payment_request_button_size
          in: query
          description: 1-click checkout button sizes.
          required: false
          schema:
            type: string
            description: 1-click checkout button sizes.
        - name: payment_request_button_theme
          in: query
          description: 1-click checkout button themes.
          required: false
          schema:
            type: string
            description: 1-click checkout button themes.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    put:
      parameters:
        - name: is_wcpay_enabled
          in: query
          description: If WooCommerce Payments should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments should be enabled.
        - name: enabled_payment_method_ids
          in: query
          description: Payment method IDs that should be enabled. Other methods will be disabled.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - card
            description: Payment method IDs that should be enabled. Other methods will be disabled.
        - name: is_manual_capture_enabled
          in: query
          description: If WooCommerce Payments manual capture of charges should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments manual capture of charges should be enabled.
        - name: is_saved_cards_enabled
          in: query
          description: If WooCommerce Payments "Saved cards" should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments "Saved cards" should be enabled.
        - name: is_test_mode_enabled
          in: query
          description: WooCommerce Payments test mode setting.
          required: false
          schema:
            type: boolean
            description: WooCommerce Payments test mode setting.
        - name: is_multi_currency_enabled
          in: query
          description: WooCommerce Payments Multi-Currency feature flag setting.
          required: false
          schema:
            type: boolean
            description: WooCommerce Payments Multi-Currency feature flag setting.
        - name: is_wcpay_subscription_enabled
          in: query
          description: WooCommerce Payments Subscriptions feature flag setting.
          required: false
          schema:
            type: boolean
            description: WooCommerce Payments Subscriptions feature flag setting.
        - name: account_statement_descriptor
          in: query
          description: WooCommerce Payments bank account descriptor to be displayed in customers' bank accounts.
          required: false
          schema:
            type: string
            description: WooCommerce Payments bank account descriptor to be displayed in customers' bank accounts.
        - name: is_payment_request_enabled
          in: query
          description: If WooCommerce Payments express checkouts should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments express checkouts should be enabled.
        - name: payment_request_enabled_locations
          in: query
          description: Express checkout locations that should be enabled.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - product
                - cart
                - checkout
            description: Express checkout locations that should be enabled.
        - name: payment_request_button_type
          in: query
          description: 1-click checkout button types.
          required: false
          schema:
            type: string
            description: 1-click checkout button types.
        - name: payment_request_button_size
          in: query
          description: 1-click checkout button sizes.
          required: false
          schema:
            type: string
            description: 1-click checkout button sizes.
        - name: payment_request_button_theme
          in: query
          description: 1-click checkout button themes.
          required: false
          schema:
            type: string
            description: 1-click checkout button themes.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    patch:
      parameters:
        - name: is_wcpay_enabled
          in: query
          description: If WooCommerce Payments should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments should be enabled.
        - name: enabled_payment_method_ids
          in: query
          description: Payment method IDs that should be enabled. Other methods will be disabled.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - card
            description: Payment method IDs that should be enabled. Other methods will be disabled.
        - name: is_manual_capture_enabled
          in: query
          description: If WooCommerce Payments manual capture of charges should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments manual capture of charges should be enabled.
        - name: is_saved_cards_enabled
          in: query
          description: If WooCommerce Payments "Saved cards" should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments "Saved cards" should be enabled.
        - name: is_test_mode_enabled
          in: query
          description: WooCommerce Payments test mode setting.
          required: false
          schema:
            type: boolean
            description: WooCommerce Payments test mode setting.
        - name: is_multi_currency_enabled
          in: query
          description: WooCommerce Payments Multi-Currency feature flag setting.
          required: false
          schema:
            type: boolean
            description: WooCommerce Payments Multi-Currency feature flag setting.
        - name: is_wcpay_subscription_enabled
          in: query
          description: WooCommerce Payments Subscriptions feature flag setting.
          required: false
          schema:
            type: boolean
            description: WooCommerce Payments Subscriptions feature flag setting.
        - name: account_statement_descriptor
          in: query
          description: WooCommerce Payments bank account descriptor to be displayed in customers' bank accounts.
          required: false
          schema:
            type: string
            description: WooCommerce Payments bank account descriptor to be displayed in customers' bank accounts.
        - name: is_payment_request_enabled
          in: query
          description: If WooCommerce Payments express checkouts should be enabled.
          required: false
          schema:
            type: boolean
            description: If WooCommerce Payments express checkouts should be enabled.
        - name: payment_request_enabled_locations
          in: query
          description: Express checkout locations that should be enabled.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - product
                - cart
                - checkout
            description: Express checkout locations that should be enabled.
        - name: payment_request_button_type
          in: query
          description: 1-click checkout button types.
          required: false
          schema:
            type: string
            description: 1-click checkout button types.
        - name: payment_request_button_size
          in: query
          description: 1-click checkout button sizes.
          required: false
          schema:
            type: string
            description: 1-click checkout button sizes.
        - name: payment_request_button_theme
          in: query
          description: 1-click checkout button themes.
          required: false
          schema:
            type: string
            description: 1-click checkout button themes.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/upe_flag_toggle:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    post:
      parameters:
        - name: is_upe_enabled
          in: query
          description: Determines if the UPE feature flag is enabled.
          required: false
          schema:
            type: boolean
            description: Determines if the UPE feature flag is enabled.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    put:
      parameters:
        - name: is_upe_enabled
          in: query
          description: Determines if the UPE feature flag is enabled.
          required: false
          schema:
            type: boolean
            description: Determines if the UPE feature flag is enabled.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    patch:
      parameters:
        - name: is_upe_enabled
          in: query
          description: Determines if the UPE feature flag is enabled.
          required: false
          schema:
            type: boolean
            description: Determines if the UPE feature flag is enabled.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/upe_survey:
    post:
      parameters:
        - name: why-disable
          in: query
          description: ''
          required: false
          schema:
            type: string
        - name: comments
          in: query
          description: ''
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/multi-currency/currencies:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/multi-currency/update-enabled-currencies:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/multi-currency/currencies/{currency_code}:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/multi-currency/get-settings:
    get:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /payments/multi-currency/update-settings:
    post:
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /coupons:
    get:
      parameters:
        - name: context
          in: query
          description: Scope under which the request is made; determines fields present in response.
          required: false
          schema:
            type: string
            description: Scope under which the request is made; determines fields present in response.
            enum:
              - view
              - edit
        - name: page
          in: query
          description: Current page of the collection.
          required: false
          schema:
            type: integer
            description: Current page of the collection.
        - name: per_page
          in: query
          description: Maximum number of items to be returned in result set.
          required: false
          schema:
            type: integer
            description: Maximum number of items to be returned in result set.
        - name: search
          in: query
          description: Limit results to those matching a string.
          required: false
          schema:
            type: string
            description: Limit results to those matching a string.
        - name: after
          in: query
          description: Limit response to resources published after a given ISO8601 compliant date.
          required: false
          schema:
            type: string
            format: date-time
            description: Limit response to resources published after a given ISO8601 compliant date.
        - name: before
          in: query
          description: Limit response to resources published before a given ISO8601 compliant date.
          required: false
          schema:
            type: string
            format: date-time
            description: Limit response to resources published before a given ISO8601 compliant date.
        - name: modified_after
          in: query
          description: Limit response to resources modified after a given ISO8601 compliant date.
          required: false
          schema:
            type: string
            format: date-time
            description: Limit response to resources modified after a given ISO8601 compliant date.
        - name: modified_before
          in: query
          description: Limit response to resources modified before a given ISO8601 compliant date.
          required: false
          schema:
            type: string
            format: date-time
            description: Limit response to resources modified before a given ISO8601 compliant date.
        - name: dates_are_gmt
          in: query
          description: Whether to consider GMT post dates when limiting response by published or modified date.
          required: false
          schema:
            type: boolean
            description: Whether to consider GMT post dates when limiting response by published or modified date.
        - name: exclude
          in: query
          description: Ensure result set excludes specific IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: Ensure result set excludes specific IDs.
        - name: include
          in: query
          description: Limit result set to specific ids.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: Limit result set to specific ids.
        - name: offset
          in: query
          description: Offset the result set by a specific number of items.
          required: false
          schema:
            type: integer
            description: Offset the result set by a specific number of items.
        - name: order
          in: query
          description: Order sort attribute ascending or descending.
          required: false
          schema:
            type: string
            description: Order sort attribute ascending or descending.
            enum:
              - asc
              - desc
        - name: orderby
          in: query
          description: Sort collection by object attribute.
          required: false
          schema:
            type: string
            description: Sort collection by object attribute.
            enum:
              - date
              - id
              - include
              - title
              - slug
              - modified
        - name: code
          in: query
          description: Limit result set to resources with a specific code.
          required: false
          schema:
            type: string
            description: Limit result set to resources with a specific code.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    post:
      parameters:
        - name: code
          in: query
          description: Coupon code.
          required: true
          schema:
            type: string
            description: Coupon code.
        - name: amount
          in: query
          description: The amount of discount. Should always be numeric, even if setting a percentage.
          required: false
          schema:
            type: string
            description: The amount of discount. Should always be numeric, even if setting a percentage.
        - name: discount_type
          in: query
          description: Determines the type of discount that will be applied.
          required: false
          schema:
            type: string
            description: Determines the type of discount that will be applied.
            enum:
              - percent
              - fixed_cart
              - fixed_product
        - name: description
          in: query
          description: Coupon description.
          required: false
          schema:
            type: string
            description: Coupon description.
        - name: date_expires
          in: query
          description: The date the coupon expires, in the site's timezone.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, in the site's timezone.
        - name: date_expires_gmt
          in: query
          description: The date the coupon expires, as GMT.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, as GMT.
        - name: individual_use
          in: query
          description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
          required: false
          schema:
            type: boolean
            description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
        - name: product_ids
          in: query
          description: List of product IDs the coupon can be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon can be used on.
        - name: excluded_product_ids
          in: query
          description: List of product IDs the coupon cannot be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon cannot be used on.
        - name: usage_limit
          in: query
          description: How many times the coupon can be used in total.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used in total.
        - name: usage_limit_per_user
          in: query
          description: How many times the coupon can be used per customer.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used per customer.
        - name: limit_usage_to_x_items
          in: query
          description: Max number of items in the cart the coupon can be applied to.
          required: false
          schema:
            type: integer
            description: Max number of items in the cart the coupon can be applied to.
        - name: free_shipping
          in: query
          description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
          required: false
          schema:
            type: boolean
            description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
        - name: product_categories
          in: query
          description: List of category IDs the coupon applies to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon applies to.
        - name: excluded_product_categories
          in: query
          description: List of category IDs the coupon does not apply to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon does not apply to.
        - name: exclude_sale_items
          in: query
          description: If true, this coupon will not be applied to items that have sale prices.
          required: false
          schema:
            type: boolean
            description: If true, this coupon will not be applied to items that have sale prices.
        - name: minimum_amount
          in: query
          description: Minimum order amount that needs to be in the cart before coupon applies.
          required: false
          schema:
            type: string
            description: Minimum order amount that needs to be in the cart before coupon applies.
        - name: maximum_amount
          in: query
          description: Maximum order amount allowed when using the coupon.
          required: false
          schema:
            type: string
            description: Maximum order amount allowed when using the coupon.
        - name: email_restrictions
          in: query
          description: List of email addresses that can use this coupon.
          required: false
          schema:
            type: array
            items:
              type: string
            description: List of email addresses that can use this coupon.
        - name: meta_data
          in: query
          description: Meta data.
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: Meta ID.
                key:
                  type: string
                  description: Meta key.
                value:
                  type:
                    - 'null'
                    - object
                    - string
                    - number
                    - boolean
                    - integer
                    - array
                  description: Meta value.
            description: Meta data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /coupons/{id}:
    get:
      parameters:
        - name: id
          in: path
          description: Unique identifier for the resource.
          required: true
          schema:
            type: integer
            description: Unique identifier for the resource.
        - name: context
          in: query
          description: Scope under which the request is made; determines fields present in response.
          required: false
          schema:
            type: string
            description: Scope under which the request is made; determines fields present in response.
            enum:
              - view
              - edit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    post:
      parameters:
        - name: id
          in: path
          description: Unique identifier for the resource.
          required: true
          schema:
            type: integer
            description: Unique identifier for the resource.
        - name: code
          in: query
          description: Coupon code.
          required: false
          schema:
            type: string
            description: Coupon code.
        - name: amount
          in: query
          description: The amount of discount. Should always be numeric, even if setting a percentage.
          required: false
          schema:
            type: string
            description: The amount of discount. Should always be numeric, even if setting a percentage.
        - name: discount_type
          in: query
          description: Determines the type of discount that will be applied.
          required: false
          schema:
            type: string
            description: Determines the type of discount that will be applied.
            enum:
              - percent
              - fixed_cart
              - fixed_product
        - name: description
          in: query
          description: Coupon description.
          required: false
          schema:
            type: string
            description: Coupon description.
        - name: date_expires
          in: query
          description: The date the coupon expires, in the site's timezone.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, in the site's timezone.
        - name: date_expires_gmt
          in: query
          description: The date the coupon expires, as GMT.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, as GMT.
        - name: individual_use
          in: query
          description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
          required: false
          schema:
            type: boolean
            description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
        - name: product_ids
          in: query
          description: List of product IDs the coupon can be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon can be used on.
        - name: excluded_product_ids
          in: query
          description: List of product IDs the coupon cannot be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon cannot be used on.
        - name: usage_limit
          in: query
          description: How many times the coupon can be used in total.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used in total.
        - name: usage_limit_per_user
          in: query
          description: How many times the coupon can be used per customer.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used per customer.
        - name: limit_usage_to_x_items
          in: query
          description: Max number of items in the cart the coupon can be applied to.
          required: false
          schema:
            type: integer
            description: Max number of items in the cart the coupon can be applied to.
        - name: free_shipping
          in: query
          description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
          required: false
          schema:
            type: boolean
            description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
        - name: product_categories
          in: query
          description: List of category IDs the coupon applies to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon applies to.
        - name: excluded_product_categories
          in: query
          description: List of category IDs the coupon does not apply to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon does not apply to.
        - name: exclude_sale_items
          in: query
          description: If true, this coupon will not be applied to items that have sale prices.
          required: false
          schema:
            type: boolean
            description: If true, this coupon will not be applied to items that have sale prices.
        - name: minimum_amount
          in: query
          description: Minimum order amount that needs to be in the cart before coupon applies.
          required: false
          schema:
            type: string
            description: Minimum order amount that needs to be in the cart before coupon applies.
        - name: maximum_amount
          in: query
          description: Maximum order amount allowed when using the coupon.
          required: false
          schema:
            type: string
            description: Maximum order amount allowed when using the coupon.
        - name: email_restrictions
          in: query
          description: List of email addresses that can use this coupon.
          required: false
          schema:
            type: array
            items:
              type: string
            description: List of email addresses that can use this coupon.
        - name: meta_data
          in: query
          description: Meta data.
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: Meta ID.
                key:
                  type: string
                  description: Meta key.
                value:
                  type:
                    - 'null'
                    - object
                    - string
                    - number
                    - boolean
                    - integer
                    - array
                  description: Meta value.
            description: Meta data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    put:
      parameters:
        - name: id
          in: path
          description: Unique identifier for the resource.
          required: true
          schema:
            type: integer
            description: Unique identifier for the resource.
        - name: code
          in: query
          description: Coupon code.
          required: false
          schema:
            type: string
            description: Coupon code.
        - name: amount
          in: query
          description: The amount of discount. Should always be numeric, even if setting a percentage.
          required: false
          schema:
            type: string
            description: The amount of discount. Should always be numeric, even if setting a percentage.
        - name: discount_type
          in: query
          description: Determines the type of discount that will be applied.
          required: false
          schema:
            type: string
            description: Determines the type of discount that will be applied.
            enum:
              - percent
              - fixed_cart
              - fixed_product
        - name: description
          in: query
          description: Coupon description.
          required: false
          schema:
            type: string
            description: Coupon description.
        - name: date_expires
          in: query
          description: The date the coupon expires, in the site's timezone.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, in the site's timezone.
        - name: date_expires_gmt
          in: query
          description: The date the coupon expires, as GMT.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, as GMT.
        - name: individual_use
          in: query
          description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
          required: false
          schema:
            type: boolean
            description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
        - name: product_ids
          in: query
          description: List of product IDs the coupon can be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon can be used on.
        - name: excluded_product_ids
          in: query
          description: List of product IDs the coupon cannot be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon cannot be used on.
        - name: usage_limit
          in: query
          description: How many times the coupon can be used in total.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used in total.
        - name: usage_limit_per_user
          in: query
          description: How many times the coupon can be used per customer.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used per customer.
        - name: limit_usage_to_x_items
          in: query
          description: Max number of items in the cart the coupon can be applied to.
          required: false
          schema:
            type: integer
            description: Max number of items in the cart the coupon can be applied to.
        - name: free_shipping
          in: query
          description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
          required: false
          schema:
            type: boolean
            description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
        - name: product_categories
          in: query
          description: List of category IDs the coupon applies to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon applies to.
        - name: excluded_product_categories
          in: query
          description: List of category IDs the coupon does not apply to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon does not apply to.
        - name: exclude_sale_items
          in: query
          description: If true, this coupon will not be applied to items that have sale prices.
          required: false
          schema:
            type: boolean
            description: If true, this coupon will not be applied to items that have sale prices.
        - name: minimum_amount
          in: query
          description: Minimum order amount that needs to be in the cart before coupon applies.
          required: false
          schema:
            type: string
            description: Minimum order amount that needs to be in the cart before coupon applies.
        - name: maximum_amount
          in: query
          description: Maximum order amount allowed when using the coupon.
          required: false
          schema:
            type: string
            description: Maximum order amount allowed when using the coupon.
        - name: email_restrictions
          in: query
          description: List of email addresses that can use this coupon.
          required: false
          schema:
            type: array
            items:
              type: string
            description: List of email addresses that can use this coupon.
        - name: meta_data
          in: query
          description: Meta data.
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: Meta ID.
                key:
                  type: string
                  description: Meta key.
                value:
                  type:
                    - 'null'
                    - object
                    - string
                    - number
                    - boolean
                    - integer
                    - array
                  description: Meta value.
            description: Meta data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    patch:
      parameters:
        - name: id
          in: path
          description: Unique identifier for the resource.
          required: true
          schema:
            type: integer
            description: Unique identifier for the resource.
        - name: code
          in: query
          description: Coupon code.
          required: false
          schema:
            type: string
            description: Coupon code.
        - name: amount
          in: query
          description: The amount of discount. Should always be numeric, even if setting a percentage.
          required: false
          schema:
            type: string
            description: The amount of discount. Should always be numeric, even if setting a percentage.
        - name: discount_type
          in: query
          description: Determines the type of discount that will be applied.
          required: false
          schema:
            type: string
            description: Determines the type of discount that will be applied.
            enum:
              - percent
              - fixed_cart
              - fixed_product
        - name: description
          in: query
          description: Coupon description.
          required: false
          schema:
            type: string
            description: Coupon description.
        - name: date_expires
          in: query
          description: The date the coupon expires, in the site's timezone.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, in the site's timezone.
        - name: date_expires_gmt
          in: query
          description: The date the coupon expires, as GMT.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, as GMT.
        - name: individual_use
          in: query
          description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
          required: false
          schema:
            type: boolean
            description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
        - name: product_ids
          in: query
          description: List of product IDs the coupon can be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon can be used on.
        - name: excluded_product_ids
          in: query
          description: List of product IDs the coupon cannot be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon cannot be used on.
        - name: usage_limit
          in: query
          description: How many times the coupon can be used in total.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used in total.
        - name: usage_limit_per_user
          in: query
          description: How many times the coupon can be used per customer.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used per customer.
        - name: limit_usage_to_x_items
          in: query
          description: Max number of items in the cart the coupon can be applied to.
          required: false
          schema:
            type: integer
            description: Max number of items in the cart the coupon can be applied to.
        - name: free_shipping
          in: query
          description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
          required: false
          schema:
            type: boolean
            description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
        - name: product_categories
          in: query
          description: List of category IDs the coupon applies to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon applies to.
        - name: excluded_product_categories
          in: query
          description: List of category IDs the coupon does not apply to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon does not apply to.
        - name: exclude_sale_items
          in: query
          description: If true, this coupon will not be applied to items that have sale prices.
          required: false
          schema:
            type: boolean
            description: If true, this coupon will not be applied to items that have sale prices.
        - name: minimum_amount
          in: query
          description: Minimum order amount that needs to be in the cart before coupon applies.
          required: false
          schema:
            type: string
            description: Minimum order amount that needs to be in the cart before coupon applies.
        - name: maximum_amount
          in: query
          description: Maximum order amount allowed when using the coupon.
          required: false
          schema:
            type: string
            description: Maximum order amount allowed when using the coupon.
        - name: email_restrictions
          in: query
          description: List of email addresses that can use this coupon.
          required: false
          schema:
            type: array
            items:
              type: string
            description: List of email addresses that can use this coupon.
        - name: meta_data
          in: query
          description: Meta data.
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: Meta ID.
                key:
                  type: string
                  description: Meta key.
                value:
                  type:
                    - 'null'
                    - object
                    - string
                    - number
                    - boolean
                    - integer
                    - array
                  description: Meta value.
            description: Meta data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    delete:
      parameters:
        - name: id
          in: path
          description: Unique identifier for the resource.
          required: true
          schema:
            type: integer
            description: Unique identifier for the resource.
        - name: force
          in: query
          description: Whether to bypass trash and force deletion.
          required: false
          schema:
            type: boolean
            description: Whether to bypass trash and force deletion.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /coupons/batch:
    post:
      parameters:
        - name: code
          in: query
          description: Coupon code.
          required: false
          schema:
            type: string
            description: Coupon code.
        - name: amount
          in: query
          description: The amount of discount. Should always be numeric, even if setting a percentage.
          required: false
          schema:
            type: string
            description: The amount of discount. Should always be numeric, even if setting a percentage.
        - name: discount_type
          in: query
          description: Determines the type of discount that will be applied.
          required: false
          schema:
            type: string
            description: Determines the type of discount that will be applied.
            enum:
              - percent
              - fixed_cart
              - fixed_product
        - name: description
          in: query
          description: Coupon description.
          required: false
          schema:
            type: string
            description: Coupon description.
        - name: date_expires
          in: query
          description: The date the coupon expires, in the site's timezone.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, in the site's timezone.
        - name: date_expires_gmt
          in: query
          description: The date the coupon expires, as GMT.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, as GMT.
        - name: individual_use
          in: query
          description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
          required: false
          schema:
            type: boolean
            description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
        - name: product_ids
          in: query
          description: List of product IDs the coupon can be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon can be used on.
        - name: excluded_product_ids
          in: query
          description: List of product IDs the coupon cannot be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon cannot be used on.
        - name: usage_limit
          in: query
          description: How many times the coupon can be used in total.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used in total.
        - name: usage_limit_per_user
          in: query
          description: How many times the coupon can be used per customer.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used per customer.
        - name: limit_usage_to_x_items
          in: query
          description: Max number of items in the cart the coupon can be applied to.
          required: false
          schema:
            type: integer
            description: Max number of items in the cart the coupon can be applied to.
        - name: free_shipping
          in: query
          description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
          required: false
          schema:
            type: boolean
            description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
        - name: product_categories
          in: query
          description: List of category IDs the coupon applies to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon applies to.
        - name: excluded_product_categories
          in: query
          description: List of category IDs the coupon does not apply to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon does not apply to.
        - name: exclude_sale_items
          in: query
          description: If true, this coupon will not be applied to items that have sale prices.
          required: false
          schema:
            type: boolean
            description: If true, this coupon will not be applied to items that have sale prices.
        - name: minimum_amount
          in: query
          description: Minimum order amount that needs to be in the cart before coupon applies.
          required: false
          schema:
            type: string
            description: Minimum order amount that needs to be in the cart before coupon applies.
        - name: maximum_amount
          in: query
          description: Maximum order amount allowed when using the coupon.
          required: false
          schema:
            type: string
            description: Maximum order amount allowed when using the coupon.
        - name: email_restrictions
          in: query
          description: List of email addresses that can use this coupon.
          required: false
          schema:
            type: array
            items:
              type: string
            description: List of email addresses that can use this coupon.
        - name: meta_data
          in: query
          description: Meta data.
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: Meta ID.
                key:
                  type: string
                  description: Meta key.
                value:
                  type:
                    - 'null'
                    - object
                    - string
                    - number
                    - boolean
                    - integer
                    - array
                  description: Meta value.
            description: Meta data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    put:
      parameters:
        - name: code
          in: query
          description: Coupon code.
          required: false
          schema:
            type: string
            description: Coupon code.
        - name: amount
          in: query
          description: The amount of discount. Should always be numeric, even if setting a percentage.
          required: false
          schema:
            type: string
            description: The amount of discount. Should always be numeric, even if setting a percentage.
        - name: discount_type
          in: query
          description: Determines the type of discount that will be applied.
          required: false
          schema:
            type: string
            description: Determines the type of discount that will be applied.
            enum:
              - percent
              - fixed_cart
              - fixed_product
        - name: description
          in: query
          description: Coupon description.
          required: false
          schema:
            type: string
            description: Coupon description.
        - name: date_expires
          in: query
          description: The date the coupon expires, in the site's timezone.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, in the site's timezone.
        - name: date_expires_gmt
          in: query
          description: The date the coupon expires, as GMT.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, as GMT.
        - name: individual_use
          in: query
          description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
          required: false
          schema:
            type: boolean
            description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
        - name: product_ids
          in: query
          description: List of product IDs the coupon can be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon can be used on.
        - name: excluded_product_ids
          in: query
          description: List of product IDs the coupon cannot be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon cannot be used on.
        - name: usage_limit
          in: query
          description: How many times the coupon can be used in total.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used in total.
        - name: usage_limit_per_user
          in: query
          description: How many times the coupon can be used per customer.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used per customer.
        - name: limit_usage_to_x_items
          in: query
          description: Max number of items in the cart the coupon can be applied to.
          required: false
          schema:
            type: integer
            description: Max number of items in the cart the coupon can be applied to.
        - name: free_shipping
          in: query
          description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
          required: false
          schema:
            type: boolean
            description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
        - name: product_categories
          in: query
          description: List of category IDs the coupon applies to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon applies to.
        - name: excluded_product_categories
          in: query
          description: List of category IDs the coupon does not apply to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon does not apply to.
        - name: exclude_sale_items
          in: query
          description: If true, this coupon will not be applied to items that have sale prices.
          required: false
          schema:
            type: boolean
            description: If true, this coupon will not be applied to items that have sale prices.
        - name: minimum_amount
          in: query
          description: Minimum order amount that needs to be in the cart before coupon applies.
          required: false
          schema:
            type: string
            description: Minimum order amount that needs to be in the cart before coupon applies.
        - name: maximum_amount
          in: query
          description: Maximum order amount allowed when using the coupon.
          required: false
          schema:
            type: string
            description: Maximum order amount allowed when using the coupon.
        - name: email_restrictions
          in: query
          description: List of email addresses that can use this coupon.
          required: false
          schema:
            type: array
            items:
              type: string
            description: List of email addresses that can use this coupon.
        - name: meta_data
          in: query
          description: Meta data.
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: Meta ID.
                key:
                  type: string
                  description: Meta key.
                value:
                  type:
                    - 'null'
                    - object
                    - string
                    - number
                    - boolean
                    - integer
                    - array
                  description: Meta value.
            description: Meta data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    patch:
      parameters:
        - name: code
          in: query
          description: Coupon code.
          required: false
          schema:
            type: string
            description: Coupon code.
        - name: amount
          in: query
          description: The amount of discount. Should always be numeric, even if setting a percentage.
          required: false
          schema:
            type: string
            description: The amount of discount. Should always be numeric, even if setting a percentage.
        - name: discount_type
          in: query
          description: Determines the type of discount that will be applied.
          required: false
          schema:
            type: string
            description: Determines the type of discount that will be applied.
            enum:
              - percent
              - fixed_cart
              - fixed_product
        - name: description
          in: query
          description: Coupon description.
          required: false
          schema:
            type: string
            description: Coupon description.
        - name: date_expires
          in: query
          description: The date the coupon expires, in the site's timezone.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, in the site's timezone.
        - name: date_expires_gmt
          in: query
          description: The date the coupon expires, as GMT.
          required: false
          schema:
            type:
              - 'null'
              - string
            description: The date the coupon expires, as GMT.
        - name: individual_use
          in: query
          description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
          required: false
          schema:
            type: boolean
            description: If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.
        - name: product_ids
          in: query
          description: List of product IDs the coupon can be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon can be used on.
        - name: excluded_product_ids
          in: query
          description: List of product IDs the coupon cannot be used on.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of product IDs the coupon cannot be used on.
        - name: usage_limit
          in: query
          description: How many times the coupon can be used in total.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used in total.
        - name: usage_limit_per_user
          in: query
          description: How many times the coupon can be used per customer.
          required: false
          schema:
            type: integer
            description: How many times the coupon can be used per customer.
        - name: limit_usage_to_x_items
          in: query
          description: Max number of items in the cart the coupon can be applied to.
          required: false
          schema:
            type: integer
            description: Max number of items in the cart the coupon can be applied to.
        - name: free_shipping
          in: query
          description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
          required: false
          schema:
            type: boolean
            description: If true and if the free shipping method requires a coupon, this coupon will enable free shipping.
        - name: product_categories
          in: query
          description: List of category IDs the coupon applies to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon applies to.
        - name: excluded_product_categories
          in: query
          description: List of category IDs the coupon does not apply to.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: List of category IDs the coupon does not apply to.
        - name: exclude_sale_items
          in: query
          description: If true, this coupon will not be applied to items that have sale prices.
          required: false
          schema:
            type: boolean
            description: If true, this coupon will not be applied to items that have sale prices.
        - name: minimum_amount
          in: query
          description: Minimum order amount that needs to be in the cart before coupon applies.
          required: false
          schema:
            type: string
            description: Minimum order amount that needs to be in the cart before coupon applies.
        - name: maximum_amount
          in: query
          description: Maximum order amount allowed when using the coupon.
          required: false
          schema:
            type: string
            description: Maximum order amount allowed when using the coupon.
        - name: email_restrictions
          in: query
          description: List of email addresses that can use this coupon.
          required: false
          schema:
            type: array
            items:
              type: string
            description: List of email addresses that can use this coupon.
        - name: meta_data
          in: query
          description: Meta data.
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: Meta ID.
                key:
                  type: string
                  description: Meta key.
                value:
                  type:
                    - 'null'
                    - object
                    - string
                    - number
                    - boolean
                    - integer
                    - array
                  description: Meta value.
            description: Meta data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /customers/{customer_id}/downloads:
    get:
      parameters:
        - name: customer_id
          in: path
          description: Unique identifier for the resource.
          required: true
          schema:
            type: integer
            description: Unique identifier for the resource.
        - name: context
          in: query
          description: Scope under which the request is made; determines fields present in response.
          required: false
          schema:
            type: string
            description: Scope under which the request is made; determines fields present in response.
            enum:
              - view
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_download'
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /customers:
    get:
      parameters:
        - name: context
          in: query
          description: Scope under which the request is made; determines fields present in response.
          required: false
          schema:
            type: string
            description: Scope under which the request is made; determines fields present in response.
            enum:
              - view
              - edit
        - name: page
          in: query
          description: Current page of the collection.
          required: false
          schema:
            type: integer
            description: Current page of the collection.
        - name: per_page
          in: query
          description: Maximum number of items to be returned in result set.
          required: false
          schema:
            type: integer
            description: Maximum number of items to be returned in result set.
        - name: search
          in: query
          description: Limit results to those matching a string.
          required: false
          schema:
            type: string
            description: Limit results to those matching a string.
        - name: exclude
          in: query
          description: Ensure result set excludes specific IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: Ensure result set excludes specific IDs.
        - name: include
          in: query
          description: Limit result set to specific IDs.
          required: false
          schema:
            type: array
            items:
              type: integer
            description: Limit result set to specific IDs.
        - name: offset
          in: query
          description: Offset the result set by a specific number of items.
          required: false
          schema:
            type: integer
            description: Offset the result set by a specific number of items.
        - name: order
          in: query
          description: Order sort attribute ascending or descending.
          required: false
          schema:
            type: string
            description: Order sort attribute ascending or descending.
            enum:
              - asc
              - desc
        - name: orderby
          in: query
          description: Sort collection by object attribute.
          required: false
          schema:
            type: string
            description: Sort collection by object attribute.
            enum:
              - id
              - include
              - name
              - registered_date
        - name: email
          in: query
          description: Limit result set to resources with a specific email.
          required: false
          schema:
            type: string
            format: email
            description: Limit result set to resources with a specific email.
        - name: role
          in: query
          description: Limit result set to resources with a specific role.
          required: false
          schema:
            type: string
            description: Limit result set to resources with a specific role.
            enum:
              - all
              - administrator
              - editor
              - author
              - contributor
              - subscriber
              - customer
              - shop_manager
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    post:
      parameters:
        - name: email
          in: query
          description: New user email address.
          required: true
          schema:
            type: string
            description: New user email address.
        - name: first_name
          in: query
          description: Customer first name.
          required: false
          schema:
            type: string
            description: Customer first name.
        - name: last_name
          in: query
          description: Customer last name.
          required: false
          schema:
            type: string
            description: Customer last name.
        - name: username
          in: query
          description: New user username.
          required: false
          schema:
            type: string
            description: New user username.
        - name: password
          in: query
          description: New user password.
          required: false
          schema:
            type: string
            description: New user password.
        - name: billing
          in: query
          description: List of billing address data.
          required: false
          schema:
            type: object
            properties:
              first_name:
                type: string
                description: First name.
              last_name:
                type: string
                description: Last name.
              company:
                type: string
                description: Company name.
              address_1:
                type: string
                description: Address line 1
              address_2:
                type: string
                description: Address line 2
              city:
                type: string
                description: City name.
              state:
                type: string
                description: ISO code or name of the state, province or district.
              postcode:
                type: string
                description: Postal code.
              country:
                type: string
                description: ISO code of the country.
              email:
                type: string
                format: email
                description: Email address.
              phone:
                type: string
                description: Phone number.
            description: List of billing address data.
        - name: shipping
          in: query
          description: List of shipping address data.
          required: false
          schema:
            type: object
            properties:
              first_name:
                type: string
                description: First name.
              last_name:
                type: string
                description: Last name.
              company:
                type: string
                description: Company name.
              address_1:
                type: string
                description: Address line 1
              address_2:
                type: string
                description: Address line 2
              city:
                type: string
                description: City name.
              state:
                type: string
                description: ISO code or name of the state, province or district.
              postcode:
                type: string
                description: Postal code.
              country:
                type: string
                description: ISO code of the country.
              phone:
                type: string
                description: Phone number.
            description: List of shipping address data.
        - name: meta_data
          in: query
          description: Meta data.
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: Meta ID.
                key:
                  type: string
                  description: Meta key.
                value:
                  type:
                    - 'null'
                    - object
                    - string
                    - number
                    - boolean
                    - integer
                    - array
                  description: Meta value.
            description: Meta data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '400':
          description: Bad Request
        '404':
          description: Not Found
  /customers/{id}:
    get:
      parameters:
        - name: id
          in: path
          description: Unique identifier for the resource.
          required: true
          schema:
            type: integer
            description: Unique identifier for the resource.
        - name: context
          in: query
          description: Scope under which the request is made; determines fields present in response.
          required: false
          schema:
            type: string
            description: Scope under which the request is made; determines fields present in response.
            enum:
              - view
              - edit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    post:
      parameters:
        - name: id
          in: path
          description: Unique identifier for the resource.
          required: true
          schema:
            type: integer
            description: Unique identifier for the resource.
        - name: email
          in: query
          description: The email address for the customer.
          required: false
          schema:
            type: string
            format: email
            description: The email address for the customer.
        - name: first_name
          in: query
          description: Customer first name.
          required: false
          schema:
            type: string
            description: Customer first name.
        - name: last_name
          in: query
          description: Customer last name.
          required: false
          schema:
            type: string
            description: Customer last name.
        - name: username
          in: query
          description: Customer login name.
          required: false
          schema:
            type: string
            description: Customer login name.
        - name: password
          in: query
          description: Customer password.
          required: false
          schema:
            type: string
            description: Customer password.
        - name: billing
          in: query
          description: List of billing address data.
          required: false
          schema:
            type: object
            properties:
              first_name:
                type: string
                description: First name.
              last_name:
                type: string
                description: Last name.
              company:
                type: string
                description: Company name.
              address_1:
                type: string
                description: Address line 1
              address_2:
                type: string
                description: Address line 2
              city:
                type: string
                description: City name.
              state:
                type: string
                description: ISO code or name of the state, province or district.
              postcode:
                type: string
                description: Postal code.
              country:
                type: string
                description: ISO code of the country.
              email:
                type: string
                format: email
                description: Email address.
              phone:
                type: string
                description: Phone number.
            description: List of billing address data.
        - name: shipping
          in: query
          description: List of shipping address data.
          required: false
          schema:
            type: object
            properties:
              first_name:
                type: string
                description: First name.
              last_name:
                type: string
                description: Last name.
              company:
                type: string
                description: Company name.
              address_1:
                type: string
                description: Address line 1
              address_2:
                type: string
                description: Address line 2
              city:
                type: string
                description: City name.
              state:
                type: string
                description: ISO code or name of the state, province or district.
              postcode:
                type: string
                description: Postal code.
              country:
                type: string
                description: ISO code of the country.
              phone:
                type: string
                description: Phone number.
            description: List of shipping address data.
        - name: meta_data
          in: query
          description: Meta data.
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: Meta ID.
                key:
                  type: string
                  description: Meta key.
                value:
                  type:
                    - 'null'
                    - object
                    - string
                    - number
                    - boolean
                    - integer
                    - array
                  description: Meta value.
            description: Meta data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    put:
      parameters:
        - name: id
          in: path
          description: Unique identifier for the resource.
          required: true
          schema:
            type: integer
            description: Unique identifier for the resource.
        - name: email
          in: query
          description: The email address for the customer.
          required: false
          schema:
            type: string
            format: email
            description: The email address for the customer.
        - name: first_name
          in: query
          description: Customer first name.
          required: false
          schema:
            type: string
            description: Customer first name.
        - name: last_name
          in: query
          description: Customer last name.
          required: false
          schema:
            type: string
            description: Customer last name.
        - name: username
          in: query
          description: Customer login name.
          required: false
          schema:
            type: string
            description: Customer login name.
        - name: password
          in: query
          description: Customer password.
          required: false
          schema:
            type: string
            description: Customer password.
        - name: billing
          in: query
          description: List of billing address data.
          required: false
          schema:
            type: object
            properties:
              first_name:
                type: string
                description: First name.
              last_name:
                type: string
                description: Last name.
              company:
                type: string
                description: Company name.
              address_1:
                type: string
                description: Address line 1
              address_2:
                type: string
                description: Address line 2
              city:
                type: string
                description: City name.
              state:
                type: string
                description: ISO code or name of the state, province or district.
              postcode:
                type: string
                description: Postal code.
              country:
                type: string
                description: ISO code of the country.
              email:
                type: string
                format: email
                description: Email address.
              phone:
                type: string
                description: Phone number.
            description: List of billing address data.
        - name: shipping
          in: query
          description: List of shipping address data.
          required: false
          schema:
            type: object
            properties:
              first_name:
                type: string
                description: First name.
              last_name:
                type: string
                description: Last name.
              company:
                type: string
                description: Company name.
              address_1:
                type: string
                description: Address line 1
              address_2:
                type: string
                description: Address line 2
              city:
                type: string
                description: City name.
              state:
                type: string
                description: ISO code or name of the state, province or district.
              postcode:
                type: string
                description: Postal code.
              country:
                type: string
                description: ISO code of the country.
              phone:
                type: string
                description: Phone number.
            description: List of shipping address data.
        - name: meta_data
          in: query
          description: Meta data.
          required: false
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: Meta ID.
                key:
                  type: string
                  description: Meta key.
                value:
                  type:
                    - 'null'
                    - object
                    - string
                    - number
                    - boolean
                    - integer
                    - array
                  description: Meta value.
            description: Meta data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '400':
          description: Bad Request
        '404':
          description: Not Found
    patch:
      parameters:
        - name: id
          in: path
          description: Unique identifier for the resource.
          required: true
          schema:
            type: integer
            description: Unique identifier for the resource.
        - name: email
          in: query
          description: The email address for the customer.
          required: false
          schema:
            type: string
            format: email
[...]
