openapi: 3.0.0
info:
  description: OpenAPI documented, based on generated OpenAPI document of the namespace
    wc/v3 with some manual fixes.
  title: wc/v3
  version: "1"
servers:
- url: https://www.software-creation.nl/wp-json/wc/v3
- url: http://localhost/wp-json/wc/v3
security:
- basicAuth: []
paths:
  /:
    get:
      parameters:
      - explode: true
        in: query
        name: namespace
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: context
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
  /coupons:
    get:
      parameters:
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          - edit
          type: string
        style: form
      - description: Current page of the collection.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: Current page of the collection.
          type: integer
        style: form
      - description: Maximum number of items to be returned in result set.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          description: Maximum number of items to be returned in result set.
          type: integer
        style: form
      - description: Limit results to those matching a string.
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: Limit results to those matching a string.
          type: string
        style: form
      - description: Limit response to resources published after a given ISO8601 compliant
          date.
        explode: true
        in: query
        name: after
        required: false
        schema:
          description: Limit response to resources published after a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Limit response to resources published before a given ISO8601
          compliant date.
        explode: true
        in: query
        name: before
        required: false
        schema:
          description: Limit response to resources published before a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Limit response to resources modified after a given ISO8601 compliant
          date.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          description: Limit response to resources modified after a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Limit response to resources modified before a given ISO8601 compliant
          date.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          description: Limit response to resources modified before a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Whether to consider GMT post dates when limiting response by
          published or modified date.
        explode: true
        in: query
        name: dates_are_gmt
        required: false
        schema:
          description: Whether to consider GMT post dates when limiting response by
            published or modified date.
          type: boolean
        style: form
      - description: Ensure result set excludes specific IDs.
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          description: Ensure result set excludes specific IDs.
          items:
            type: integer
          type: array
        style: form
      - description: Limit result set to specific ids.
        explode: true
        in: query
        name: include
        required: false
        schema:
          description: Limit result set to specific ids.
          items:
            type: integer
          type: array
        style: form
      - description: Offset the result set by a specific number of items.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: Offset the result set by a specific number of items.
          type: integer
        style: form
      - description: Order sort attribute ascending or descending.
        explode: true
        in: query
        name: order
        required: false
        schema:
          description: Order sort attribute ascending or descending.
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Sort collection by object attribute.
        explode: true
        in: query
        name: orderby
        required: false
        schema:
          description: Sort collection by object attribute.
          enum:
          - date
          - id
          - include
          - title
          - slug
          - modified
          type: string
        style: form
      - description: Limit result set to resources with a specific code.
        explode: true
        in: query
        name: code
        required: false
        schema:
          description: Limit result set to resources with a specific code.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/shop_coupon'
                type: array
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    post:
      requestBody:
        $ref: '#/components/requestBodies/shop_coupon_1'
        content:
          application/json:
            schema:
              properties:
                code:
                  description: Coupon code.
                  type: string
                amount:
                  description: The amount of discount. Should always be numeric, even
                    if setting a percentage.
                  type: string
                discount_type:
                  description: Determines the type of discount that will be applied.
                  enum:
                  - percent
                  - fixed_cart
                  - fixed_product
                  type: string
                description:
                  description: Coupon description.
                  type: string
                date_expires:
                  description: The date the coupon expires, in the site's timezone.
                  type: string
                date_expires_gmt:
                  description: The date the coupon expires, as GMT.
                  type: string
                individual_use:
                  description: If true, the coupon can only be used individually.
                    Other applied coupons will be removed from the cart.
                  type: boolean
                product_ids:
                  description: List of product IDs the coupon can be used on.
                  items:
                    type: integer
                  type: array
                excluded_product_ids:
                  description: List of product IDs the coupon cannot be used on.
                  items:
                    type: integer
                  type: array
                usage_limit:
                  description: How many times the coupon can be used in total.
                  type: integer
                usage_limit_per_user:
                  description: How many times the coupon can be used per customer.
                  type: integer
                limit_usage_to_x_items:
                  description: Max number of items in the cart the coupon can be applied
                    to.
                  type: integer
                free_shipping:
                  description: If true and if the free shipping method requires a
                    coupon, this coupon will enable free shipping.
                  type: boolean
                product_categories:
                  description: List of category IDs the coupon applies to.
                  items:
                    type: integer
                  type: array
                excluded_product_categories:
                  description: List of category IDs the coupon does not apply to.
                  items:
                    type: integer
                  type: array
                exclude_sale_items:
                  description: If true, this coupon will not be applied to items that
                    have sale prices.
                  type: boolean
                minimum_amount:
                  description: Minimum order amount that needs to be in the cart before
                    coupon applies.
                  type: string
                maximum_amount:
                  description: Maximum order amount allowed when using the coupon.
                  type: string
                email_restrictions:
                  description: List of email addresses that can use this coupon.
                  items:
                    type: string
                  type: array
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: shop_coupon
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      security:
      - basicAuth: []
      x-contentType: application/json
      x-accepts: application/json
  /coupons/{id}:
    delete:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: Whether to bypass trash and force deletion.
        explode: true
        in: query
        name: force
        required: false
        schema:
          description: Whether to bypass trash and force deletion.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    get:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          - edit
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    patch:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/shop_coupon_4'
        content:
          application/json:
            schema:
              properties:
                code:
                  description: Coupon code.
                  type: string
                amount:
                  description: The amount of discount. Should always be numeric, even
                    if setting a percentage.
                  type: string
                discount_type:
                  description: Determines the type of discount that will be applied.
                  enum:
                  - percent
                  - fixed_cart
                  - fixed_product
                  type: string
                description:
                  description: Coupon description.
                  type: string
                date_expires:
                  description: The date the coupon expires, in the site's timezone.
                  type: string
                date_expires_gmt:
                  description: The date the coupon expires, as GMT.
                  type: string
                individual_use:
                  description: If true, the coupon can only be used individually.
                    Other applied coupons will be removed from the cart.
                  type: boolean
                product_ids:
                  description: List of product IDs the coupon can be used on.
                  items:
                    type: integer
                  type: array
                excluded_product_ids:
                  description: List of product IDs the coupon cannot be used on.
                  items:
                    type: integer
                  type: array
                usage_limit:
                  description: How many times the coupon can be used in total.
                  type: integer
                usage_limit_per_user:
                  description: How many times the coupon can be used per customer.
                  type: integer
                limit_usage_to_x_items:
                  description: Max number of items in the cart the coupon can be applied
                    to.
                  type: integer
                free_shipping:
                  description: If true and if the free shipping method requires a
                    coupon, this coupon will enable free shipping.
                  type: boolean
                product_categories:
                  description: List of category IDs the coupon applies to.
                  items:
                    type: integer
                  type: array
                excluded_product_categories:
                  description: List of category IDs the coupon does not apply to.
                  items:
                    type: integer
                  type: array
                exclude_sale_items:
                  description: If true, this coupon will not be applied to items that
                    have sale prices.
                  type: boolean
                minimum_amount:
                  description: Minimum order amount that needs to be in the cart before
                    coupon applies.
                  type: string
                maximum_amount:
                  description: Maximum order amount allowed when using the coupon.
                  type: string
                email_restrictions:
                  description: List of email addresses that can use this coupon.
                  items:
                    type: string
                  type: array
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: shop_coupon
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-contentType: application/json
      x-accepts: application/json
    post:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/shop_coupon_3'
        content:
          application/json:
            schema:
              properties:
                code:
                  description: Coupon code.
                  type: string
                amount:
                  description: The amount of discount. Should always be numeric, even
                    if setting a percentage.
                  type: string
                discount_type:
                  description: Determines the type of discount that will be applied.
                  enum:
                  - percent
                  - fixed_cart
                  - fixed_product
                  type: string
                description:
                  description: Coupon description.
                  type: string
                date_expires:
                  description: The date the coupon expires, in the site's timezone.
                  type: string
                date_expires_gmt:
                  description: The date the coupon expires, as GMT.
                  type: string
                individual_use:
                  description: If true, the coupon can only be used individually.
                    Other applied coupons will be removed from the cart.
                  type: boolean
                product_ids:
                  description: List of product IDs the coupon can be used on.
                  items:
                    type: integer
                  type: array
                excluded_product_ids:
                  description: List of product IDs the coupon cannot be used on.
                  items:
                    type: integer
                  type: array
                usage_limit:
                  description: How many times the coupon can be used in total.
                  type: integer
                usage_limit_per_user:
                  description: How many times the coupon can be used per customer.
                  type: integer
                limit_usage_to_x_items:
                  description: Max number of items in the cart the coupon can be applied
                    to.
                  type: integer
                free_shipping:
                  description: If true and if the free shipping method requires a
                    coupon, this coupon will enable free shipping.
                  type: boolean
                product_categories:
                  description: List of category IDs the coupon applies to.
                  items:
                    type: integer
                  type: array
                excluded_product_categories:
                  description: List of category IDs the coupon does not apply to.
                  items:
                    type: integer
                  type: array
                exclude_sale_items:
                  description: If true, this coupon will not be applied to items that
                    have sale prices.
                  type: boolean
                minimum_amount:
                  description: Minimum order amount that needs to be in the cart before
                    coupon applies.
                  type: string
                maximum_amount:
                  description: Maximum order amount allowed when using the coupon.
                  type: string
                email_restrictions:
                  description: List of email addresses that can use this coupon.
                  items:
                    type: string
                  type: array
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: shop_coupon
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      security:
      - basicAuth: []
      x-contentType: application/json
      x-accepts: application/json
    put:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/shop_coupon_2'
        content:
          application/json:
            schema:
              properties:
                code:
                  description: Coupon code.
                  type: string
                amount:
                  description: The amount of discount. Should always be numeric, even
                    if setting a percentage.
                  type: string
                discount_type:
                  description: Determines the type of discount that will be applied.
                  enum:
                  - percent
                  - fixed_cart
                  - fixed_product
                  type: string
                description:
                  description: Coupon description.
                  type: string
                date_expires:
                  description: The date the coupon expires, in the site's timezone.
                  type: string
                date_expires_gmt:
                  description: The date the coupon expires, as GMT.
                  type: string
                individual_use:
                  description: If true, the coupon can only be used individually.
                    Other applied coupons will be removed from the cart.
                  type: boolean
                product_ids:
                  description: List of product IDs the coupon can be used on.
                  items:
                    type: integer
                  type: array
                excluded_product_ids:
                  description: List of product IDs the coupon cannot be used on.
                  items:
                    type: integer
                  type: array
                usage_limit:
                  description: How many times the coupon can be used in total.
                  type: integer
                usage_limit_per_user:
                  description: How many times the coupon can be used per customer.
                  type: integer
                limit_usage_to_x_items:
                  description: Max number of items in the cart the coupon can be applied
                    to.
                  type: integer
                free_shipping:
                  description: If true and if the free shipping method requires a
                    coupon, this coupon will enable free shipping.
                  type: boolean
                product_categories:
                  description: List of category IDs the coupon applies to.
                  items:
                    type: integer
                  type: array
                excluded_product_categories:
                  description: List of category IDs the coupon does not apply to.
                  items:
                    type: integer
                  type: array
                exclude_sale_items:
                  description: If true, this coupon will not be applied to items that
                    have sale prices.
                  type: boolean
                minimum_amount:
                  description: Minimum order amount that needs to be in the cart before
                    coupon applies.
                  type: string
                maximum_amount:
                  description: Maximum order amount allowed when using the coupon.
                  type: string
                email_restrictions:
                  description: List of email addresses that can use this coupon.
                  items:
                    type: string
                  type: array
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: shop_coupon
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_coupon'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-contentType: application/json
      x-accepts: application/json
  /coupons/batch:
    patch:
      requestBody:
        $ref: '#/components/requestBodies/batch_3'
        content:
          application/json:
            schema:
              properties:
                code:
                  description: Coupon code.
                  type: string
                amount:
                  description: The amount of discount. Should always be numeric, even
                    if setting a percentage.
                  type: string
                discount_type:
                  description: Determines the type of discount that will be applied.
                  enum:
                  - percent
                  - fixed_cart
                  - fixed_product
                  type: string
                description:
                  description: Coupon description.
                  type: string
                date_expires:
                  description: The date the coupon expires, in the site's timezone.
                  type: string
                date_expires_gmt:
                  description: The date the coupon expires, as GMT.
                  type: string
                individual_use:
                  description: If true, the coupon can only be used individually.
                    Other applied coupons will be removed from the cart.
                  type: boolean
                product_ids:
                  description: List of product IDs the coupon can be used on.
                  items:
                    type: integer
                  type: array
                excluded_product_ids:
                  description: List of product IDs the coupon cannot be used on.
                  items:
                    type: integer
                  type: array
                usage_limit:
                  description: How many times the coupon can be used in total.
                  type: integer
                usage_limit_per_user:
                  description: How many times the coupon can be used per customer.
                  type: integer
                limit_usage_to_x_items:
                  description: Max number of items in the cart the coupon can be applied
                    to.
                  type: integer
                free_shipping:
                  description: If true and if the free shipping method requires a
                    coupon, this coupon will enable free shipping.
                  type: boolean
                product_categories:
                  description: List of category IDs the coupon applies to.
                  items:
                    type: integer
                  type: array
                excluded_product_categories:
                  description: List of category IDs the coupon does not apply to.
                  items:
                    type: integer
                  type: array
                exclude_sale_items:
                  description: If true, this coupon will not be applied to items that
                    have sale prices.
                  type: boolean
                minimum_amount:
                  description: Minimum order amount that needs to be in the cart before
                    coupon applies.
                  type: string
                maximum_amount:
                  description: Maximum order amount allowed when using the coupon.
                  type: string
                email_restrictions:
                  description: List of email addresses that can use this coupon.
                  items:
                    type: string
                  type: array
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: batch
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-contentType: application/json
      x-accepts: application/json
    post:
      requestBody:
        $ref: '#/components/requestBodies/batch_2'
        content:
          application/json:
            schema:
              properties:
                code:
                  description: Coupon code.
                  type: string
                amount:
                  description: The amount of discount. Should always be numeric, even
                    if setting a percentage.
                  type: string
                discount_type:
                  description: Determines the type of discount that will be applied.
                  enum:
                  - percent
                  - fixed_cart
                  - fixed_product
                  type: string
                description:
                  description: Coupon description.
                  type: string
                date_expires:
                  description: The date the coupon expires, in the site's timezone.
                  type: string
                date_expires_gmt:
                  description: The date the coupon expires, as GMT.
                  type: string
                individual_use:
                  description: If true, the coupon can only be used individually.
                    Other applied coupons will be removed from the cart.
                  type: boolean
                product_ids:
                  description: List of product IDs the coupon can be used on.
                  items:
                    type: integer
                  type: array
                excluded_product_ids:
                  description: List of product IDs the coupon cannot be used on.
                  items:
                    type: integer
                  type: array
                usage_limit:
                  description: How many times the coupon can be used in total.
                  type: integer
                usage_limit_per_user:
                  description: How many times the coupon can be used per customer.
                  type: integer
                limit_usage_to_x_items:
                  description: Max number of items in the cart the coupon can be applied
                    to.
                  type: integer
                free_shipping:
                  description: If true and if the free shipping method requires a
                    coupon, this coupon will enable free shipping.
                  type: boolean
                product_categories:
                  description: List of category IDs the coupon applies to.
                  items:
                    type: integer
                  type: array
                excluded_product_categories:
                  description: List of category IDs the coupon does not apply to.
                  items:
                    type: integer
                  type: array
                exclude_sale_items:
                  description: If true, this coupon will not be applied to items that
                    have sale prices.
                  type: boolean
                minimum_amount:
                  description: Minimum order amount that needs to be in the cart before
                    coupon applies.
                  type: string
                maximum_amount:
                  description: Maximum order amount allowed when using the coupon.
                  type: string
                email_restrictions:
                  description: List of email addresses that can use this coupon.
                  items:
                    type: string
                  type: array
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: batch
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      security:
      - basicAuth: []
      x-contentType: application/json
      x-accepts: application/json
    put:
      requestBody:
        $ref: '#/components/requestBodies/batch_1'
        content:
          application/json:
            schema:
              properties:
                code:
                  description: Coupon code.
                  type: string
                amount:
                  description: The amount of discount. Should always be numeric, even
                    if setting a percentage.
                  type: string
                discount_type:
                  description: Determines the type of discount that will be applied.
                  enum:
                  - percent
                  - fixed_cart
                  - fixed_product
                  type: string
                description:
                  description: Coupon description.
                  type: string
                date_expires:
                  description: The date the coupon expires, in the site's timezone.
                  type: string
                date_expires_gmt:
                  description: The date the coupon expires, as GMT.
                  type: string
                individual_use:
                  description: If true, the coupon can only be used individually.
                    Other applied coupons will be removed from the cart.
                  type: boolean
                product_ids:
                  description: List of product IDs the coupon can be used on.
                  items:
                    type: integer
                  type: array
                excluded_product_ids:
                  description: List of product IDs the coupon cannot be used on.
                  items:
                    type: integer
                  type: array
                usage_limit:
                  description: How many times the coupon can be used in total.
                  type: integer
                usage_limit_per_user:
                  description: How many times the coupon can be used per customer.
                  type: integer
                limit_usage_to_x_items:
                  description: Max number of items in the cart the coupon can be applied
                    to.
                  type: integer
                free_shipping:
                  description: If true and if the free shipping method requires a
                    coupon, this coupon will enable free shipping.
                  type: boolean
                product_categories:
                  description: List of category IDs the coupon applies to.
                  items:
                    type: integer
                  type: array
                excluded_product_categories:
                  description: List of category IDs the coupon does not apply to.
                  items:
                    type: integer
                  type: array
                exclude_sale_items:
                  description: If true, this coupon will not be applied to items that
                    have sale prices.
                  type: boolean
                minimum_amount:
                  description: Minimum order amount that needs to be in the cart before
                    coupon applies.
                  type: string
                maximum_amount:
                  description: Maximum order amount allowed when using the coupon.
                  type: string
                email_restrictions:
                  description: List of email addresses that can use this coupon.
                  items:
                    type: string
                  type: array
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: batch
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-contentType: application/json
      x-accepts: application/json
  /customers/{customer_id}/downloads:
    get:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/customer_download'
                type: array
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
  /customers:
    get:
      parameters:
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          - edit
          type: string
        style: form
      - description: Current page of the collection.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: Current page of the collection.
          type: integer
        style: form
      - description: Maximum number of items to be returned in result set.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          description: Maximum number of items to be returned in result set.
          type: integer
        style: form
      - description: Limit results to those matching a string.
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: Limit results to those matching a string.
          type: string
        style: form
      - description: Ensure result set excludes specific IDs.
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          description: Ensure result set excludes specific IDs.
          items:
            type: integer
          type: array
        style: form
      - description: Limit result set to specific IDs.
        explode: true
        in: query
        name: include
        required: false
        schema:
          description: Limit result set to specific IDs.
          items:
            type: integer
          type: array
        style: form
      - description: Offset the result set by a specific number of items.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: Offset the result set by a specific number of items.
          type: integer
        style: form
      - description: Order sort attribute ascending or descending.
        explode: true
        in: query
        name: order
        required: false
        schema:
          description: Order sort attribute ascending or descending.
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Sort collection by object attribute.
        explode: true
        in: query
        name: orderby
        required: false
        schema:
          description: Sort collection by object attribute.
          enum:
          - id
          - include
          - name
          - registered_date
          type: string
        style: form
      - description: Limit result set to resources with a specific email.
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: Limit result set to resources with a specific email.
          format: email
          type: string
        style: form
      - description: Limit result set to resources with a specific role.
        explode: true
        in: query
        name: role
        required: false
        schema:
          description: Limit result set to resources with a specific role.
          enum:
          - all
          - administrator
          - editor
          - author
          - contributor
          - subscriber
          - customer
          - shop_manager
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/customer'
                type: array
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    post:
      requestBody:
        $ref: '#/components/requestBodies/customer_1'
        content:
          application/json:
            schema:
              properties:
                email:
                  description: New user email address.
                  type: string
                first_name:
                  description: Customer first name.
                  type: string
                last_name:
                  description: Customer last name.
                  type: string
                username:
                  description: New user username.
                  type: string
                password:
                  description: New user password.
                  type: string
                billing:
                  $ref: '#/components/schemas/_customers_billing'
                shipping:
                  $ref: '#/components/schemas/_customers_shipping'
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: customer
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      security:
      - basicAuth: []
      x-contentType: application/json
      x-accepts: application/json
  /customers/{id}:
    delete:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: Required to be true, as resource does not support trashing.
        explode: true
        in: query
        name: force
        required: false
        schema:
          description: Required to be true, as resource does not support trashing.
          type: boolean
        style: form
      - description: ID to reassign posts to.
        explode: true
        in: query
        name: reassign
        required: false
        schema:
          description: ID to reassign posts to.
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    get:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          - edit
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    patch:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/customer_4'
        content:
          application/json:
            schema:
              properties:
                email:
                  description: The email address for the customer.
                  format: email
                  type: string
                first_name:
                  description: Customer first name.
                  type: string
                last_name:
                  description: Customer last name.
                  type: string
                username:
                  description: Customer login name.
                  type: string
                password:
                  description: Customer password.
                  type: string
                billing:
                  $ref: '#/components/schemas/_customers_billing'
                shipping:
                  $ref: '#/components/schemas/_customers_shipping'
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: customer
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-contentType: application/json
      x-accepts: application/json
    post:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/customer_3'
        content:
          application/json:
            schema:
              properties:
                email:
                  description: The email address for the customer.
                  format: email
                  type: string
                first_name:
                  description: Customer first name.
                  type: string
                last_name:
                  description: Customer last name.
                  type: string
                username:
                  description: Customer login name.
                  type: string
                password:
                  description: Customer password.
                  type: string
                billing:
                  $ref: '#/components/schemas/_customers_billing'
                shipping:
                  $ref: '#/components/schemas/_customers_shipping'
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: customer
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      security:
      - basicAuth: []
      x-contentType: application/json
      x-accepts: application/json
    put:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/customer_2'
        content:
          application/json:
            schema:
              properties:
                email:
                  description: The email address for the customer.
                  format: email
                  type: string
                first_name:
                  description: Customer first name.
                  type: string
                last_name:
                  description: Customer last name.
                  type: string
                username:
                  description: Customer login name.
                  type: string
                password:
                  description: Customer password.
                  type: string
                billing:
                  $ref: '#/components/schemas/_customers_billing'
                shipping:
                  $ref: '#/components/schemas/_customers_shipping'
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: customer
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-contentType: application/json
      x-accepts: application/json
  /customers/batch:
    patch:
      requestBody:
        $ref: '#/components/requestBodies/batch_6'
        content:
          application/json:
            schema:
              properties:
                email:
                  description: The email address for the customer.
                  format: email
                  type: string
                first_name:
                  description: Customer first name.
                  type: string
                last_name:
                  description: Customer last name.
                  type: string
                username:
                  description: Customer login name.
                  type: string
                password:
                  description: Customer password.
                  type: string
                billing:
                  $ref: '#/components/schemas/_customers_billing'
                shipping:
                  $ref: '#/components/schemas/_customers_shipping'
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: batch
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-contentType: application/json
      x-accepts: application/json
    post:
      requestBody:
        $ref: '#/components/requestBodies/batch_5'
        content:
          application/json:
            schema:
              properties:
                email:
                  description: The email address for the customer.
                  format: email
                  type: string
                first_name:
                  description: Customer first name.
                  type: string
                last_name:
                  description: Customer last name.
                  type: string
                username:
                  description: Customer login name.
                  type: string
                password:
                  description: Customer password.
                  type: string
                billing:
                  $ref: '#/components/schemas/_customers_billing'
                shipping:
                  $ref: '#/components/schemas/_customers_shipping'
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: batch
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      security:
      - basicAuth: []
      x-contentType: application/json
      x-accepts: application/json
    put:
      requestBody:
        $ref: '#/components/requestBodies/batch_4'
        content:
          application/json:
            schema:
              properties:
                email:
                  description: The email address for the customer.
                  format: email
                  type: string
                first_name:
                  description: Customer first name.
                  type: string
                last_name:
                  description: Customer last name.
                  type: string
                username:
                  description: Customer login name.
                  type: string
                password:
                  description: Customer password.
                  type: string
                billing:
                  $ref: '#/components/schemas/_customers_billing'
                shipping:
                  $ref: '#/components/schemas/_customers_shipping'
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
              title: batch
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-contentType: application/json
      x-accepts: application/json
  /orders/{order_id}/notes:
    get:
      parameters:
      - description: The order ID.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order ID.
          type: integer
        style: simple
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          - edit
          type: string
        style: form
      - description: Limit result to customers or internal notes.
        explode: true
        in: query
        name: type
        required: false
        schema:
          description: Limit result to customers or internal notes.
          enum:
          - any
          - customer
          - internal
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/order_note'
                type: array
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    post:
      parameters:
      - description: The order ID.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order ID.
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/order_note_1'
        content:
          application/json:
            schema:
              properties:
                note:
                  description: Order note content.
                  type: string
                customer_note:
                  description: If true, the note will be shown to customers and they
                    will be notified. If false, the note will be for admin reference
                    only.
                  type: boolean
                added_by_user:
                  description: If true, this note will be attributed to the current
                    user. If false, the note will be attributed to the system.
                  type: boolean
              title: order_note
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order_note'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      security:
      - basicAuth: []
      x-contentType: application/json
      x-accepts: application/json
  /orders/{order_id}/notes/{id}:
    delete:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: The order ID.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order ID.
          type: integer
        style: simple
      - description: Required to be true, as resource does not support trashing.
        explode: true
        in: query
        name: force
        required: false
        schema:
          description: Required to be true, as resource does not support trashing.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order_note'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    get:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: The order ID.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order ID.
          type: integer
        style: simple
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          - edit
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order_note'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
  /orders/{order_id}/refunds:
    get:
      parameters:
      - description: The order ID.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order ID.
          type: integer
        style: simple
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          - edit
          type: string
        style: form
      - description: Current page of the collection.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: Current page of the collection.
          type: integer
        style: form
      - description: Maximum number of items to be returned in result set.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          description: Maximum number of items to be returned in result set.
          type: integer
        style: form
      - description: Limit results to those matching a string.
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: Limit results to those matching a string.
          type: string
        style: form
      - description: Limit response to resources published after a given ISO8601 compliant
          date.
        explode: true
        in: query
        name: after
        required: false
        schema:
          description: Limit response to resources published after a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Limit response to resources published before a given ISO8601
          compliant date.
        explode: true
        in: query
        name: before
        required: false
        schema:
          description: Limit response to resources published before a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Limit response to resources modified after a given ISO8601 compliant
          date.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          description: Limit response to resources modified after a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Limit response to resources modified before a given ISO8601 compliant
          date.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          description: Limit response to resources modified before a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Whether to consider GMT post dates when limiting response by
          published or modified date.
        explode: true
        in: query
        name: dates_are_gmt
        required: false
        schema:
          description: Whether to consider GMT post dates when limiting response by
            published or modified date.
          type: boolean
        style: form
      - description: Ensure result set excludes specific IDs.
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          description: Ensure result set excludes specific IDs.
          items:
            type: integer
          type: array
        style: form
      - description: Limit result set to specific ids.
        explode: true
        in: query
        name: include
        required: false
        schema:
          description: Limit result set to specific ids.
          items:
            type: integer
          type: array
        style: form
      - description: Offset the result set by a specific number of items.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: Offset the result set by a specific number of items.
          type: integer
        style: form
      - description: Order sort attribute ascending or descending.
        explode: true
        in: query
        name: order
        required: false
        schema:
          description: Order sort attribute ascending or descending.
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Sort collection by object attribute.
        explode: true
        in: query
        name: orderby
        required: false
        schema:
          description: Sort collection by object attribute.
          enum:
          - date
          - id
          - include
          - title
          - slug
          - modified
          type: string
        style: form
      - description: Limit result set to those of particular parent IDs.
        explode: true
        in: query
        name: parent
        required: false
        schema:
          description: Limit result set to those of particular parent IDs.
          items:
            type: integer
          type: array
        style: form
      - description: Limit result set to all items except those of a particular parent
          ID.
        explode: true
        in: query
        name: parent_exclude
        required: false
        schema:
          description: Limit result set to all items except those of a particular
            parent ID.
          items:
            type: integer
          type: array
        style: form
      - description: Number of decimal points to use in each resource.
        explode: true
        in: query
        name: dp
        required: false
        schema:
          description: Number of decimal points to use in each resource.
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/shop_order_refund'
                type: array
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    post:
      parameters:
      - description: The order ID.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order ID.
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/shop_order_refund_1'
        content:
          application/json:
            schema:
              properties:
                amount:
                  description: Refund amount.
                  type: string
                reason:
                  description: Reason for refund.
                  type: string
                refunded_by:
                  description: User ID of user who created the refund.
                  type: integer
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
                api_refund:
                  description: When true, the payment gateway API is used to generate
                    the refund.
                  type: boolean
                api_restock:
                  description: When true, refunded items are restocked.
                  type: boolean
              title: shop_order_refund
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_order_refund'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      security:
      - basicAuth: []
      x-contentType: application/json
      x-accepts: application/json
  /orders/{order_id}/refunds/{id}:
    delete:
      parameters:
      - description: The order ID.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order ID.
          type: integer
        style: simple
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: Required to be true, as resource does not support trashing.
        explode: true
        in: query
        name: force
        required: false
        schema:
          description: Required to be true, as resource does not support trashing.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_order_refund'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    get:
      parameters:
      - description: The order ID.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order ID.
          type: integer
        style: simple
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          - edit
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_order_refund'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
  /orders:
    get:
      parameters:
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          - edit
          type: string
        style: form
      - description: Current page of the collection.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: Current page of the collection.
          type: integer
        style: form
      - description: Maximum number of items to be returned in result set.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          description: Maximum number of items to be returned in result set.
          type: integer
        style: form
      - description: Limit results to those matching a string.
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: Limit results to those matching a string.
          type: string
        style: form
      - description: Limit response to resources published after a given ISO8601 compliant
          date.
        explode: true
        in: query
        name: after
        required: false
        schema:
          description: Limit response to resources published after a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Limit response to resources published before a given ISO8601
          compliant date.
        explode: true
        in: query
        name: before
        required: false
        schema:
          description: Limit response to resources published before a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Limit response to resources modified after a given ISO8601 compliant
          date.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          description: Limit response to resources modified after a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Limit response to resources modified before a given ISO8601 compliant
          date.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          description: Limit response to resources modified before a given ISO8601
            compliant date.
          format: string
          type: string
        style: form
      - description: Whether to consider GMT post dates when limiting response by
          published or modified date.
        explode: true
        in: query
        name: dates_are_gmt
        required: false
        schema:
          description: Whether to consider GMT post dates when limiting response by
            published or modified date.
          type: boolean
        style: form
      - description: Ensure result set excludes specific IDs.
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          description: Ensure result set excludes specific IDs.
          items:
            type: integer
          type: array
        style: form
      - description: Limit result set to specific ids.
        explode: true
        in: query
        name: include
        required: false
        schema:
          description: Limit result set to specific ids.
          items:
            type: integer
          type: array
        style: form
      - description: Offset the result set by a specific number of items.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: Offset the result set by a specific number of items.
          type: integer
        style: form
      - description: Order sort attribute ascending or descending.
        explode: true
        in: query
        name: order
        required: false
        schema:
          description: Order sort attribute ascending or descending.
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Sort collection by object attribute.
        explode: true
        in: query
        name: orderby
        required: false
        schema:
          description: Sort collection by object attribute.
          enum:
          - date
          - id
          - include
          - title
          - slug
          - modified
          type: string
        style: form
      - description: Limit result set to those of particular parent IDs.
        explode: true
        in: query
        name: parent
        required: false
        schema:
          description: Limit result set to those of particular parent IDs.
          items:
            type: integer
          type: array
        style: form
      - description: Limit result set to all items except those of a particular parent
          ID.
        explode: true
        in: query
        name: parent_exclude
        required: false
        schema:
          description: Limit result set to all items except those of a particular
            parent ID.
          items:
            type: integer
          type: array
        style: form
      - description: Limit result set to orders which have specific statuses.
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: Limit result set to orders which have specific statuses.
          items:
            enum:
            - any
            - trash
            - pending
            - processing
            - on-hold
            - completed
            - cancelled
            - refunded
            - failed
            type: string
          type: array
        style: form
      - description: Limit result set to orders assigned a specific customer.
        explode: true
        in: query
        name: customer
        required: false
        schema:
          description: Limit result set to orders assigned a specific customer.
          type: integer
        style: form
      - description: Limit result set to orders assigned a specific product.
        explode: true
        in: query
        name: product
        required: false
        schema:
          description: Limit result set to orders assigned a specific product.
          type: integer
        style: form
      - description: Number of decimal points to use in each resource.
        explode: true
        in: query
        name: dp
        required: false
        schema:
          description: Number of decimal points to use in each resource.
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/shop_order'
                type: array
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    post:
      requestBody:
        $ref: '#/components/requestBodies/shop_order_1'
        content:
          application/json:
            schema:
              properties:
                parent_id:
                  description: Parent order ID.
                  type: integer
                status:
                  description: Order status.
                  enum:
                  - pending
                  - processing
                  - on-hold
                  - completed
                  - cancelled
                  - refunded
                  - failed
                  type: string
                currency:
                  description: Currency the order was created with, in ISO format.
                  enum:
                  - AED
                  - AFN
                  - ALL
                  - AMD
                  - ANG
                  - AOA
                  - ARS
                  - AUD
                  - AWG
                  - AZN
                  - BAM
                  - BBD
                  - BDT
                  - BGN
                  - BHD
                  - BIF
                  - BMD
                  - BND
                  - BOB
                  - BRL
                  - BSD
                  - BTC
                  - BTN
                  - BWP
                  - BYR
                  - BYN
                  - BZD
                  - CAD
                  - CDF
                  - CHF
                  - CLP
                  - CNY
                  - COP
                  - CRC
                  - CUC
                  - CUP
                  - CVE
                  - CZK
                  - DJF
                  - DKK
                  - DOP
                  - DZD
                  - EGP
                  - ERN
                  - ETB
                  - EUR
                  - FJD
                  - FKP
                  - GBP
                  - GEL
                  - GGP
                  - GHS
                  - GIP
                  - GMD
                  - GNF
                  - GTQ
                  - GYD
                  - HKD
                  - HNL
                  - HRK
                  - HTG
                  - HUF
                  - IDR
                  - ILS
                  - IMP
                  - INR
                  - IQD
                  - IRR
                  - IRT
                  - ISK
                  - JEP
                  - JMD
                  - JOD
                  - JPY
                  - KES
                  - KGS
                  - KHR
                  - KMF
                  - KPW
                  - KRW
                  - KWD
                  - KYD
                  - KZT
                  - LAK
                  - LBP
                  - LKR
                  - LRD
                  - LSL
                  - LYD
                  - MAD
                  - MDL
                  - MGA
                  - MKD
                  - MMK
                  - MNT
                  - MOP
                  - MRU
                  - MUR
                  - MVR
                  - MWK
                  - MXN
                  - MYR
                  - MZN
                  - NAD
                  - NGN
                  - NIO
                  - NOK
                  - NPR
                  - NZD
                  - OMR
                  - PAB
                  - PEN
                  - PGK
                  - PHP
                  - PKR
                  - PLN
                  - PRB
                  - PYG
                  - QAR
                  - RON
                  - RSD
                  - RUB
                  - RWF
                  - SAR
                  - SBD
                  - SCR
                  - SDG
                  - SEK
                  - SGD
                  - SHP
                  - SLL
                  - SOS
                  - SRD
                  - SSP
                  - STN
                  - SYP
                  - SZL
                  - THB
                  - TJS
                  - TMT
                  - TND
                  - TOP
                  - TRY
                  - TTD
                  - TWD
                  - TZS
                  - UAH
                  - UGX
                  - USD
                  - UYU
                  - UZS
                  - VEF
                  - VES
                  - VND
                  - VUV
                  - WST
                  - XAF
                  - XCD
                  - XOF
                  - XPF
                  - YER
                  - ZAR
                  - ZMW
                  type: string
                customer_id:
                  description: User ID who owns the order. 0 for guests.
                  type: integer
                customer_note:
                  description: Note left by customer during checkout.
                  type: string
                billing:
                  $ref: '#/components/schemas/_orders_billing'
                shipping:
                  $ref: '#/components/schemas/_orders_shipping'
                payment_method:
                  description: Payment method ID.
                  type: string
                payment_method_title:
                  description: Payment method title.
                  type: string
                transaction_id:
                  description: Unique transaction ID.
                  type: string
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
                line_items:
                  description: Line items data.
                  items:
                    $ref: '#/components/schemas/_orders_line_items'
                  type: array
                shipping_lines:
                  description: Shipping lines data.
                  items:
                    $ref: '#/components/schemas/_orders_shipping_lines'
                  type: array
                fee_lines:
                  description: Fee lines data.
                  items:
                    $ref: '#/components/schemas/_orders_fee_lines'
                  type: array
                coupon_lines:
                  description: Coupons line data.
                  items:
                    $ref: '#/components/schemas/_orders_coupon_lines'
                  type: array
                set_paid:
                  description: Define if the order is paid. It will set the status
                    to processing and reduce stock items.
                  type: boolean
              title: shop_order
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_order'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      security:
      - basicAuth: []
      x-contentType: application/json
      x-accepts: application/json
  /orders/{id}:
    delete:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: Whether to bypass trash and force deletion.
        explode: true
        in: query
        name: force
        required: false
        schema:
          description: Whether to bypass trash and force deletion.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_order'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    get:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      - description: Scope under which the request is made; determines fields present
          in response.
        explode: true
        in: query
        name: context
        required: false
        schema:
          description: Scope under which the request is made; determines fields present
            in response.
          enum:
          - view
          - edit
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_order'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-accepts: application/json
    patch:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/shop_order_4'
        content:
          application/json:
            schema:
              properties:
                parent_id:
                  description: Parent order ID.
                  type: integer
                status:
                  description: Order status.
                  enum:
                  - pending
                  - processing
                  - on-hold
                  - completed
                  - cancelled
                  - refunded
                  - failed
                  type: string
                currency:
                  description: Currency the order was created with, in ISO format.
                  enum:
                  - AED
                  - AFN
                  - ALL
                  - AMD
                  - ANG
                  - AOA
                  - ARS
                  - AUD
                  - AWG
                  - AZN
                  - BAM
                  - BBD
                  - BDT
                  - BGN
                  - BHD
                  - BIF
                  - BMD
                  - BND
                  - BOB
                  - BRL
                  - BSD
                  - BTC
                  - BTN
                  - BWP
                  - BYR
                  - BYN
                  - BZD
                  - CAD
                  - CDF
                  - CHF
                  - CLP
                  - CNY
                  - COP
                  - CRC
                  - CUC
                  - CUP
                  - CVE
                  - CZK
                  - DJF
                  - DKK
                  - DOP
                  - DZD
                  - EGP
                  - ERN
                  - ETB
                  - EUR
                  - FJD
                  - FKP
                  - GBP
                  - GEL
                  - GGP
                  - GHS
                  - GIP
                  - GMD
                  - GNF
                  - GTQ
                  - GYD
                  - HKD
                  - HNL
                  - HRK
                  - HTG
                  - HUF
                  - IDR
                  - ILS
                  - IMP
                  - INR
                  - IQD
                  - IRR
                  - IRT
                  - ISK
                  - JEP
                  - JMD
                  - JOD
                  - JPY
                  - KES
                  - KGS
                  - KHR
                  - KMF
                  - KPW
                  - KRW
                  - KWD
                  - KYD
                  - KZT
                  - LAK
                  - LBP
                  - LKR
                  - LRD
                  - LSL
                  - LYD
                  - MAD
                  - MDL
                  - MGA
                  - MKD
                  - MMK
                  - MNT
                  - MOP
                  - MRU
                  - MUR
                  - MVR
                  - MWK
                  - MXN
                  - MYR
                  - MZN
                  - NAD
                  - NGN
                  - NIO
                  - NOK
                  - NPR
                  - NZD
                  - OMR
                  - PAB
                  - PEN
                  - PGK
                  - PHP
                  - PKR
                  - PLN
                  - PRB
                  - PYG
                  - QAR
                  - RON
                  - RSD
                  - RUB
                  - RWF
                  - SAR
                  - SBD
                  - SCR
                  - SDG
                  - SEK
                  - SGD
                  - SHP
                  - SLL
                  - SOS
                  - SRD
                  - SSP
                  - STN
                  - SYP
                  - SZL
                  - THB
                  - TJS
                  - TMT
                  - TND
                  - TOP
                  - TRY
                  - TTD
                  - TWD
                  - TZS
                  - UAH
                  - UGX
                  - USD
                  - UYU
                  - UZS
                  - VEF
                  - VES
                  - VND
                  - VUV
                  - WST
                  - XAF
                  - XCD
                  - XOF
                  - XPF
                  - YER
                  - ZAR
                  - ZMW
                  type: string
                customer_id:
                  description: User ID who owns the order. 0 for guests.
                  type: integer
                customer_note:
                  description: Note left by customer during checkout.
                  type: string
                billing:
                  $ref: '#/components/schemas/_orders_billing'
                shipping:
                  $ref: '#/components/schemas/_orders_shipping'
                payment_method:
                  description: Payment method ID.
                  type: string
                payment_method_title:
                  description: Payment method title.
                  type: string
                transaction_id:
                  description: Unique transaction ID.
                  type: string
                meta_data:
                  description: Meta data.
                  items:
                    $ref: '#/components/schemas/_coupons_meta_data'
                  type: array
                line_items:
                  description: Line items data.
                  items:
                    $ref: '#/components/schemas/_orders_line_items'
                  type: array
                shipping_lines:
                  description: Shipping lines data.
                  items:
                    $ref: '#/components/schemas/_orders_shipping_lines'
                  type: array
                fee_lines:
                  description: Fee lines data.
                  items:
                    $ref: '#/components/schemas/_orders_fee_lines'
                  type: array
                coupon_lines:
                  description: Coupons line data.
                  items:
                    $ref: '#/components/schemas/_orders_coupon_lines'
                  type: array
                set_paid:
                  description: Define if the order is paid. It will set the status
                    to processing and reduce stock items.
                  type: boolean
              title: shop_order
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shop_order'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
      x-contentType: application/json
      x-accepts: application/json
    post:
      parameters:
      - description: Unique identifier for the resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the resource.
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/shop_order_3'
        content:
          application/json:
            schema:
              properties:
                parent_id:
                  description: Parent order ID.
                  type: integer
                status:
                  description: Order status.
                  enum:
                  - pending
                  - processing
                  - on-hold
                  - completed
                  - cancelled
                  - refunded
                  - failed
                  type: string
                currency:
                  description: Currency the order was created with, in ISO format.
                  enum:
                  - AED
                  - AFN
                  - ALL
                  - AMD
                  - ANG
                  - AOA
                  - ARS
                  - AUD
                  - AWG
                  - AZN
                  - BAM
                  - BBD
                  - BDT
                  - BGN
                  - BHD
                  - BIF
                  - BMD
                  - BND
                  - BOB
                  - BRL
                  - BSD
                  - BTC
                  - BTN
                  - BWP
                  - BYR
                  - BYN
                  - BZD
                  - CAD
                  - CDF
                  - CHF
                  - CLP
                  - CNY
                  - COP
                  - CRC
                  - CUC
                  - CUP
                  - CVE
                  - CZK
                  - DJF
                  - DKK
                  - DOP
                  - DZD
                  - EGP
                  - ERN
                  - ETB
                  - EUR
                  - FJD
                  - FKP
                  - GBP
                  - GEL
                  - GGP
                  - GHS
                  - GIP
                  - GMD
[...]
